<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [3]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [14]:
from pyodide.http import pyfetch
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"
async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

To obtain the dataset, utilize the download() function as defined above:

In [15]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [19]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
geData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [20]:
# your code goes here
duplicate_rows = df.duplicated()

# Count the number of duplicate rows
num_duplicates = duplicate_rows.sum()

print(f"There are {num_duplicates} duplicate rows in the DataFrame.")

There are 154 duplicate rows in the DataFrame.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [21]:
df_cleaned = df.drop_duplicates()

# Alternatively, overwrite the original DataFrame
# df = df.drop_duplicates()

print(f"DataFrame shape after removing duplicates: {df_cleaned.shape}")

DataFrame shape after removing duplicates: (11398, 85)

Verify if duplicates were actually dropped.

In [22]:
shape_before = df.shape
print(f"Shape before removing duplicates: {shape_before}")

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Check the shape of the DataFrame after removing duplicates
shape_after = df_cleaned.shape
print(f"Shape after removing duplicates: {shape_after}")

Shape before removing duplicates: (11552, 85)
Shape after removing duplicates: (11398, 85)

## Finding Missing values

Find the missing values for all columns.

In [23]:
missing_values = df.isnull().sum()

# Display missing values count for each column
print("Missing values per column:")
print(missing_values)

Missing values per column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [24]:
missing_values_in_WorkLoc = df['WorkLoc'].isnull().sum()

print(f"Number of missing values in the 'WorkLoc' column: {missing_values_in_WorkLoc}")

Number of missing values in the 'WorkLoc' column: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [25]:
value_counts_WorkLoc = df['WorkLoc'].value_counts()

print("Value counts for the 'WorkLoc' column:")
print(value_counts_WorkLoc)

Value counts for the 'WorkLoc' column:
WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [26]:
#make a note of the majority value here, for future reference
value_counts_WorkLoc = df['WorkLoc'].value_counts()

# Identify the most frequent value
most_frequent_value = value_counts_WorkLoc.idxmax()
most_frequent_count = value_counts_WorkLoc.max()

print(f"The most frequent value in the 'WorkLoc' column is '{most_frequent_value}' with {most_frequent_count} occurrences.")

The most frequent value in the 'WorkLoc' column is 'Office' with 6905 occurrences.

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [29]:
df['WorkLoc'].fillna(most_frequent_value, inplace=True)

# Verify the replacement
missing_values_after = df['WorkLoc'].isnull().sum()
print(f"Number of missing values in 'WorkLoc' column after replacement: {missing_values_after}")

Number of missing values in 'WorkLoc' column after replacement: 0

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [30]:
# Output the result
if missing_values_after == 0:
    print("All missing values in the 'WorkLoc' column have been successfully replaced.")
else:
    print(f"There are still {missing_values_after} missing values in the 'WorkLoc' column.")

# Optionally, display the first few rows to confirm changes
print("Sample data after replacing missing values:")
print(df.head())

All missing values in the 'WorkLoc' column have been successfully replaced.
Sample data after replacing missing values:
   Respondent                      MainBranch Hobbyist  \
0           4  I am a developer by profession       No
1           9  I am a developer by profession      Yes
2          13  I am a developer by profession      Yes
3          16  I am a developer by profession      Yes
4          17  I am a developer by profession      Yes

                                         OpenSourcer  \
0                                              Never
1                         Once a month or more often
2  Less than once a month but more than once per ...
3                                              Never
4  Less than once a month but more than once per ...

                                          OpenSource          Employment  \
0  The quality of OSS and closed source software ...  Employed full-time
1  The quality of OSS and closed source software ...  Employed full-time
2  OSS is, on average, of HIGHER quality than pro...  Employed full-time
3  The quality of OSS and closed source software ...  Employed full-time
4  The quality of OSS and closed source software ...  Employed full-time

          Country Student                                            EdLevel  \
0   United States      No           Bachelor’s degree (BA, BS, B.Eng., etc.)
1     New Zealand      No  Some college/university study without earning ...
2   United States      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
3  United Kingdom      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
4       Australia      No           Bachelor’s degree (BA, BS, B.Eng., etc.)

                                      UndergradMajor  ...  \
0  Computer science, computer engineering, or sof...  ...
1  Computer science, computer engineering, or sof...  ...
2  Computer science, computer engineering, or sof...  ...
3                                                NaN  ...
4  Computer science, computer engineering, or sof...  ...

                              WelcomeChange  \
0   Just as welcome now as I felt last year
1   Just as welcome now as I felt last year
2  Somewhat more welcome now than last year
3   Just as welcome now as I felt last year
4   Just as welcome now as I felt last year

                                        SONewContent   Age Gender Trans  \
0  Tech articles written by other developers;Indu...  22.0    Man    No
1                                                NaN  23.0    Man    No
2  Tech articles written by other developers;Cour...  28.0    Man    No
3  Tech articles written by other developers;Indu...  26.0    Man    No
4  Tech articles written by other developers;Indu...  29.0    Man    No

                 Sexuality                              Ethnicity Dependents  \
0  Straight / Heterosexual           White or of European descent         No
1                 Bisexual           White or of European descent         No
2  Straight / Heterosexual           White or of European descent        Yes
3  Straight / Heterosexual           White or of European descent         No
4  Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial         No

            SurveyLength                  SurveyEase
0  Appropriate in length                        Easy
1  Appropriate in length  Neither easy nor difficult
2  Appropriate in length                        Easy
3  Appropriate in length  Neither easy nor difficult
4  Appropriate in length                        Easy

[5 rows x 85 columns]

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

# List unique categories in the 'CompFreq' column
unique_comp_freq = df['CompFreq'].unique()

print("Unique categories in the 'CompFreq' column:")
print(unique_comp_freq)

In [31]:
# List unique categories in the 'CompFreq' column
unique_comp_freq = df['CompFreq'].unique()

print("Unique categories in the 'CompFreq' column:")
print(unique_comp_freq)

Unique categories in the 'CompFreq' column:
['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [32]:
def normalize_annual_compensation(row):
    comp_freq = row['CompFreq']
    comp_total = row['CompTotal']
    
    if pd.isnull(comp_total) or pd.isnull(comp_freq):
        return None  # Return None if there is missing data
    
    if comp_freq == 'Yearly':
        return comp_total
    elif comp_freq == 'Monthly':
        return comp_total * 12
    elif comp_freq == 'Weekly':
        return comp_total * 52
    else:
        return None  # Handle unexpected values

df['NormalizedAnnualCompensation'] = df.apply(normalize_annual_compensation, axis=1)

# Display the first few rows to verify the results
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head())

# Check for any missing values in the new column
missing_values_in_new_column = df['NormalizedAnnualCompensation'].isnull().sum()
print(f"Number of missing values in 'NormalizedAnnualCompensation': {missing_values_in_new_column}")

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0
Number of missing values in 'NormalizedAnnualCompensation': 821

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>